---
title: About
---

This is an online book to help my learning Norwegian 🇳🇴. The idea is based on [1000 Questions 1000 Answers](https://lexika.hu/angol/tankonyvek/1000-questions-1000-answers-4ed), a hugely successful book written by an English teacher I’ve had the honour to meet several times while attending courses at her language school.
